button.MuiButton-root,
li.MuiMenuItem-root {
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.7);
}
button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium:hover {
  background-color: transparent;
  color: rgb(240, 211, 174);
}
button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium:hover
  path {
  color: rgb(240, 211, 174);
}
.buttonIcon:hover svg.MuiSvgIcon-root {
  color: #fff;
}
header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-1k0i2s9-MuiPaper-root-MuiAppBar-root {
  background-image: linear-gradient(
    109.6deg,
    rgba(90, 209, 243, 1) 11.2%,
    rgba(254, 135, 245, 1) 91.1%
  );
}
span.MuiTouchRipple-root.css-8je8zh-MuiTouchRipple-root {
  font-weight: 700;
}
.Main {
  color: white;
  margin: 50px;
}
table.MuiTable-root.css-quj9j6-MuiTable-root {
  background-color: #121212;
}
table.MuiTable-root.css-quj9j6-MuiTable-root th {
  color: white;
}
table.MuiTable-root.css-quj9j6-MuiTable-root tbody th {
  border-bottom: none;
}
table.MuiTable-root.css-quj9j6-MuiTable-root td {
  color: white;
  border-bottom: none;
}

table.MuiTable-root {
  background: rgba(9, 9, 9, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.actionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.searchContainer {
  color: white;
  align-items: center;
  display: flex;
  background: rgba(41, 40, 40, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-content: flex-start;
  flex-direction: row;
  border-radius: 16px;

}

.css-yz9k0d-MuiInputBase-input {
  color: white;
  background-color: white;
}
input.MuiInputBase-input.css-yz9k0d-MuiInputBase-input {
  color: white;
  background-color: white;
}
td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignRight.MuiTableCell-sizeMedium.actionIcon.css-177gid-MuiTableCell-root {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.iconButton {
  cursor: pointer;
}
.iconButton:hover {
  color: palevioletred  !important;
}
.like_active {
  color: palevioletred  !important;
}
.pagination {
  color: white;
  width: 50%;
  margin-left: auto;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-circular.MuiPaginationItem-textSecondary.MuiPaginationItem-page.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root {
  color: #ffff;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiPaginationItem-icon.css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon
  path {
  color: white;
}
.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-circular.MuiPaginationItem-textSecondary.MuiPaginationItem-ellipsis.css-1v2lvtn-MuiPaginationItem-root {
  color: white;
}
ul.MuiPagination-ul.css-wjh20t-MuiPagination-ul {
  position: absolute;
  right: 0px;
  padding: 10px;
}
.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: palevioletred !important;
}
.singerDetail {
  color: white;
  margin: 20px 50px 0 50px;
}
.singerDetail-info span{
  
  color: palevioletred;
}
.singerDetail-container {
  margin-top: 10px;
  display: flex;
  width: 70%;
}
.square-loading {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  
}
.square-loading img {
  width: 100%;
}


.singerDetail-info {
  margin-left: 10px;
  padding: 10px;
}


.formContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 70%;
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

 
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

input[type=text], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: palevioletred;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: palevioletred ;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
      display: flex;
      align-items: center;
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row{
    margin-bottom: 10px;
    margin-top: 10px;
  }

@media only screen and (max-width: 1000px){

    .formContainer{
        width: 70%;
        font-size: 20px;
    }
}
@media only screen and (max-width: 800px){
    .formContainer{
        width: 100%;
    }
    .singerDetail-container{
      
      width: 100%;
    }
}

@media only screen and (max-width: 600px) {
  .singerDetail-container{
    display: block;
   
  }
    .pagination {
      width: 100%;
      margin: 0;
    }
    .Main {
      margin: 10px;
    }
    .formContainer{
        width: 100%;
    }
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
  }


  .searchContainer input {
    border-radius: 16px;
    background-color: transparent;
    color: white;
    border:none;
  }

  input#mui-1 {
    color:white;
   
    border-radius: 14px;
  }

  label#mui-1-label,svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root{
    color:white
  }

  input#date{
    background: white;
  }
.errorMessage{
  color: red;
  font-weight: 300;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  color: palevioletred  !important;
}
.linkText{
  color:white
}
.linkText:hover{
  text-decoration: underline;
}
